# Rename this file to .env and fill in your environment variables

# Server
CLIENT_URL=http://localhost:3000
PORT=5000

# SQL
DB_NAME=your_database_name
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_HOST=localhost
DB_PORT=3306
